
__pycache__/
*.pyc
.venv/
env/
venv/
.ipynb_checkpoints/

data/raw/*
data/processed/*
results/checkpoints/*
results/metrics/*
results/figures/*

!data/raw/README.md
!data/processed/README.md

.vscode/
.DS_Store
Thumbs.db
